@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* General padding for all layout */

  .padding-layout {
    @apply max-w-7xl mx-auto px-6 lg:px-10;
  }

  /* CUSTOMS STYLE FOR HEADLINE. Refer to figma > Style Guide to understand */

  .headline-1 {
    @apply text-[32px] leading-10 font-bold;
  }
  .headline-2 {
    @apply text-2xl leading-8 font-bold;
  }
  .headline-3 {
    @apply text-2xl leading-8 font-semibold;
  }
  .headline-4 {
    @apply text-[22px] leading-8 font-bold;
  }
  .headline-5 {
    @apply text-[22px] leading-8 font-semibold;
  }

  /* CUSTOMS STYLE FOR BODY. Refer to figma > Style Guide to understand */

  .body-1 {
    @apply text-lg leading-6 font-bold;
  }
  .body-2 {
    @apply text-lg leading-6 font-semibold;
  }
  .body-3 {
    @apply text-lg leading-6 font-medium;
  }
  .body-4 {
    @apply text-lg leading-6 font-normal;
  }
  .body-5 {
    @apply text-base leading-6 font-bold;
  }
  .body-6 {
    @apply text-base leading-6 font-semibold;
  }
  .body-7 {
    @apply text-base leading-6 font-medium;
  }
  .body-8 {
    @apply text-base leading-6 font-normal;
  }
  .body-9 {
    @apply text-[15px] leading-6 font-bold;
  }
  .body-10 {
    @apply text-[15px] leading-6 font-semibold;
  }
  .body-11 {
    @apply text-[15px] leading-6 font-medium;
  }
  .body-12 {
    @apply text-[15px] leading-[22px] font-normal;
  }
  .body-13 {
    @apply text-sm leading-6 font-bold;
  }
  .body-14 {
    @apply text-sm leading-6 font-semibold;
  }
  .body-15 {
    @apply text-sm leading-5 font-medium;
  }
  .body-16 {
    @apply text-sm leading-[22px] font-normal;
  }
  .body-17 {
    @apply text-[13px] leading-6 font-bold;
  }
  .body-18 {
    @apply text-[13px] leading-5 font-semibold;
  }
  .body-19 {
    @apply text-[13px] leading-[18px] font-medium;
  }
  .body-20 {
    @apply text-[13px] leading-[22px] font-normal;
  }

  /* CUSTOMS STYLE FOR BUTTONS */

  /* button with primary color background */
  .btn-primary {
    @apply rounded-[10px] bg-primary text-white text-[15px] leading-6 font-semibold hover:opacity-80;
  }

  /* button with natural color background */
  .btn-natural {
    @apply rounded-[10px] bg-natural-4 text-natural-7 dark:bg-darkBG-3 text-[15px] leading-6 font-semibold hover:opacity-80;
  }

  /* button with border and no background color  */
  .btn-outline {
    @apply rounded-[10px] outline-1 outline-offset-[-1px] outline outline-natural-5 text-natural-7 dark:text-natural-6 text-[15px] leading-6 font-semibold hover:opacity-80;
  }

  /* Badge button without icon */
  .btn-tag {
    @apply rounded-[5px] bg-natural-3 dark:bg-darkBG-3 cursor-pointer text-natural-6 text-sm leading-[22px] hover:opacity-80 py-[3px] px-[6px] lg:py-[5px] lg:px-[10px];
  }

  /* Badge button with icon */
  .btn-tag-icon {
    @apply flex gap-2 items-center rounded-[5px] cursor-pointer bg-natural-3 dark:bg-darkBG-3 text-natural-6 text-sm leading-[22px] hover:opacity-80 py-[3px] px-[6px] lg:py-[5px] lg:px-[10px];
  }
}
